{{ template "base" . }}

{{ define "content" }}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="text-center mt-4">Contact page</h1>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sed metus sodales, vulputate arcu eget, suscipit nisi.
                    Suspendisse potenti. Pellentesque semper nec tellus et efficitur. Morbi tortor purus, cursus vel vestibulum non,
                    consectetur pulvinar justo. Curabitur nisl nisl, lacinia et sem ut, gravida euismod eros. Duis luctus dolor sem, feugiat
                    sagittis felis malesuada ac.
                </p>
            </div>
        </div>
    </div>
{{ end }}
