{{template "base" .}}

{{define "content"}}
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <img src="/static/images/generals-quarters.png" class="room-image img-fluid img-thumbnail mx-auto d-block" alt="Room image">
            </div>
        </div>

        <div class="row">
            <div class="col">
                <h1 class="text-center mt-4">Room one page</h1>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Aenean sed metus sodales, vulputate arcu eget, suscipit
                    nisi. Suspendisse potenti. Pellentesque semper nec tellus
                    et efficitur. Morbi tortor purus, cursus vel vestibulum
                    non, consectetur pulvinar justo. Curabitur nisl nisl,
                    lacinia et sem ut, gravida euismod eros. Duis luctus dolor
                    sem, feugiat sagittis felis malesuada ac.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col text-center">
                <a href="/reservation/room-1" class="btn btn-success">Check availability</a>
            </div>
        </div>
    </div>
{{end}}
